.navbar {
  height: 100px;
  background: whitesmoke;
  /*display: flex;
  align-items: center;
  justify-content: center;*/
  font-weight: bold;
  font-size: 22px;
  text-align: center;
  padding: 20px 0;
}
.logo-wrapper {
  text-align: center;
}
.logo-wrapper .logo {
  max-width: 100px;
  margin: 0 auto;
}
